In [0]:
pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.50)

In [0]:
import geopy
from geopy.distance import vincenty
import numpy as np
import pandas as pd

In [0]:
df_house = pd.read_excel("/content/Modified Data - Housing Edited.xlsx",header=0)
df_school = pd.read_csv("/content/tdsb-school-locations-wgs84.csv",header=0)

In [0]:
df_school

                     Address  Add Pt Id  ...           X            Y
0       51 Larchmount Avenue    8392356  ...  318226.213  4835468.197
1         520 Cosburn Avenue    7794470  ...  318413.022  4839103.160
2         53 Donlands Avenue    7807349  ...  317887.183  4837801.159
3  5400 Lawrence Avenue East   13497749  ...  333582.205  4848655.383
4          544 Horner Avenue    6735862  ...  300895.876  4828853.138

[5 rows x 13 columns]

In [0]:
property = (df_house.iloc[0][9], df_house.iloc[0][10])
school = (df_school.iloc[0][4], df_school.iloc[0][5])

In [0]:
print(vincenty(property, school).km)

23.347629390437966

In [0]:
hl = len(df_house)
sl = len(df_school)
final_ind=[]
final_dist=[]
for i in range(hl):
  house = (df_house.iloc[i][9], df_house.iloc[i][10])
  dist = np.zeros(sl)
  for j in range(sl):
    school = (df_school.iloc[j][4], df_school.iloc[j][5])
    dist[j] = vincenty(house, school).km
  ind = np.argmin(dist)
  final_ind.append(ind)
  final_dist.append(dist[ind])
  print("element done: "+str(i))

In [0]:
f_index_np = np.array(final_ind)
f_distance_np = np.array(final_dist)

In [0]:
df_house['school_index'] = f_index_np
df_house['School_min_dist'] = f_distance_np

In [0]:
df_house.to_excel('output.xlsx')